@charset "utf-8";

body {
	background-color: #e1f9ff;
	font-size: 90%;
	font-family: "メイリオ", sans-serif;
	line-height: 1.5;
	color: #333333;
	/*濃い目のグレー*/
}

a.title {
	text-decoration: none;
	color: #333333;
}

div#pagebody {
	width: 80%;
	margin: 0 auto;
	/*内容全体をセンタリング*/
	background-color: #ffffff;
	/*内容全体の背景色*/
}

div#content {
	display: flex;
	/*インライン*/
	text-align: center;
	width: 95%
}

div#pokemon {
	text-align: center;
	margin: 30px 30px;
	padding: 10px;
	border: medium solid #232232;
	border-right-width: 2px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 2px;
	margin-left: 40px;
	margin-right: 0px;
	line-height: 20px;
	width: 34%
}

div#anime {
	text-align: center;
	margin: 30px 30px;
	padding: 10px;
	border: medium solid #232232;
	border-right-width: 2px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 20px;
	width: 33%
}

div#tool {
	text-align: center;
	margin: 30px 30px;
	padding: 10px;
	border: medium solid #232232;
	border-right-width: 2px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 20px;
	width: 33%
}

div.contents {
	display: flex;
	flex-direction: column;
}

a.artlink {
	margin-bottom: 0.7rem;
	font-size: 1.2rem;
	padding-bottom: 0.7rem;
	text-decoration: none;
	border-bottom: 2px solid #adadad;
}

a.proflink {
	font-size: 1.2rem;
	padding-bottom: 0.7rem;
}

a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 750px) {
	div#pagebody {
		width: 100%;
		margin: 0 auto;
		/*内容全体をセンタリング*/
		background-color: #ffffff;
		/*内容全体の背景色*/
	}
}