@charset "utf-8";

body {
	background-color: #ff6699;
	font-size: 0.9rem;
	font-family: "メイリオ", sans-serif;
	line-height: 1.5;
	color: #333333;
	/*濃い目のグレー*/
	padding: 0px 0px 100px 0px;
}

div#pagebody {
	width: 80%;
	margin: 0 auto;
	/*内容全体をセンタリング*/
	background-color: #ffffff;
	/*内容全体の背景色*/
	padding: 0px 0px 100px 0px;
}

div#inpage {
	display: flex;
	/*インライン*/
	width: "1400px"
}

div#article {
	margin-left: 40px;
}

div#pokemon {
	text-align: center;
	margin: 30px 30px;
	padding: 10px;
	border: medium solid #333333;
	line-height: 30px;
}

div#game {
	margin: 30px 30px;
	padding: 10px;
	border: medium solid #333333;
}

iframe.menu {
	border-left: 2px dash solid #232232;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	margin-left: 40px;
	margin-right: 40px;
}

a.title {
	text-decoration: none;
	color: #333333;
}

table td {
	white-space: nowrap;
	padding: 3px 3px;
}

table {
	border-collapse: collapse;
}

table th,
table td {
	border: solid 2px #dddddd;
	/*実線 1px 黒*/
}

h3 {
	border-bottom: 2px solid #232232;
}

ul {
	padding-left: 0px;
}

.emph {
	font-weight: bold;
}

.und {
	border-bottom: 1px solid #333333;
}

.menu {
	width: 20%;
}

.big-picture {
	width: 60%;
}


@media screen and (max-width: 750px) {
	div#pagebody {
		min-width: calc(320px + 8rem);
		width: 100%;
		margin: 0;
	}
	body {
		font-size: 0.7rem;
	}
	iframe.menu {
		min-width: 8em;
		border-left: 2px dash solid #232232;
		border-top-width: 0px;
		border-bottom-width: 0px;
		border-right-width: 0px;
		margin-left: 5px;
		margin-right: 5px;
	}
	div#article {
		margin-left: 0px;
	}
	.big-picture {
		width: 100%;
	}
}